<style>
	textarea {
		height: 150px;
		margin-top: 20px;
	}

	.list-style {
		width: 100% !important;
	}

	.card-header {
		position: relative;
		height: 30px !important;
		justify-content: left !important;
		margin-left: 4px;
	}

	h3.card-title {
		display: block !important;
		line-height: 70px !important;
		margin: 0 !important;
	}

	.name {
		width: 500px;
	}

	.category {
		width: 150px;
		padding-right: 20px;
		box-sizing: content-box !important;
	}

	.d-day {
		width: 200px;
		margin-right: 0 !important;
	}

	.card-toolbar {
		position: absolute;
		top: 13px;
		right: 35px;
	}

	.fg-0 {
		flex-grow: 0 !important;
	}

	.fs-16 {
		font-size: 16px;
	}

	.w-800 {
		width: 800px !important;
	}

	.h-300 {
		height: 400px !important;
	}

	.btn-add {
		padding: 8px 22px 7px 25px !important;
		font-style: 600;
	}

	.odd, .even {
		cursor: pointer;
	}

	#btn-program-write {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 20px;
	}

	.done {
		color: rgb(182, 182, 182) !important;
	}

	td p {
		margin: 0px !important;
	}

	
	@media screen and (min-width: 1280px) {
		.list-style {
			width: 1280px !important;
			margin: auto;
			margin-top: 0px;
		}
	}

</style>

<script>
	// const btn = document.getElementsByClassName('btn-popup')[0];
	// if (btn) {
	// 	btn.addEventListener('click', () => {
	// 		if (document.getElementsByClassName('popup-effect')[0].classList.contains('show')) {
	// 			document.getElementsByClassName('popup-effect')[0].classList.remove('show');
	// 			btn.classList.remove('btn-secondary');
	// 			btn.classList.add('btn-primary');
	// 			btn.children[0].innerText = '추가'
	// 		} else {
	// 			document.getElementsByClassName('popup-effect')[0].classList.add('show');
	// 			btn.classList.remove('btn-primary');
	// 			btn.classList.add('btn-secondary');
	// 			btn.children[0].innerText = '닫기'
	// 		}
	// 	});
	// }
</script>

<link href="/stylesheets/datatable.css" rel="stylesheet" type="text/css" />

<!-- py-3 h-300 show -->
<link rel='stylesheet' href='/stylesheets/applicants.css' />
<div class="row g-5 g-xl-8 list-style">
	<div class="col-xl-4 list-style">
		<!--begin::List Widget 3-->

		<div class="card card-xl-stretch mb-5 mb-xl-8">
			<!--begin::Header-->
			<!-- 주석 -->
			<div class="card-toolbar" style="margin-right: 2rem;">
				<!--begin::Menu-->

				<button type="button" class="btn btn-primary" onclick="location.href='/admin/program/write'">
					<!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
					<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">추가
					</span>
					<!--end::Svg Icon-->
				</button>
				<!--begin::Menu 3-->
				<div style="position: relative;">
					<div class="popup-effect menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px w-800 py-3 h-300 ">
						<!--begin::Header-->
						<div class="card-header align-items-center border-0 mt-4 h-fit">
							<h3 class="card-title align-items-start flex-column">
								<span class="fw-bolder mb-2 text-dark">일정 추가</span>
								<!-- <span class="text-muted fw-bold fs-7">(선택하지 않으면 모두 포함)</span> -->
							</h3>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body pt-5">
							<div class="search-box mt-3">
								<div class="search-box-first">
									<select class="select-category select2-selection--single form-select form-select-solid"
										name="category" id="category">
										<option value="" selected disabled hidden>분류</option>
									</select>
									<input type="text" name="name" id="name" class="form-control form-control-solid"
										placeholder="프로그램명">
									<!-- datepicker -->
									<div class="datepicker">
										<input type="text" name="program-day" id="program-day" class="form-control form-control-solid"
											placeholder="프로그램 일정">
									</div>
								</div>
								<textarea name="program-content" id="program-content" class="form-control form-control-solid"
										placeholder="프로그램 설명"></textarea>
								<button type="button" class="btn btn-primary btn-add" id="btn-program-write">추가</button>
							</div>
							<!--end::Timeline-->
						</div>
						<!--end: Card Body-->
					</div>
				</div>
				
				<!--end::Menu 3-->
			</div>

			<!--begin::Body-->
			<div class="card-body pt-2">
				<div class="card-body pt-2 mt-15 board-body">
					<table id="program-table" class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
						<thead>
							<tr class="fw-bolder fs-6 text-gray-800 px-7">
								<th class="w-200">분류</th>
								<th class="w-400">프로그램명</th>
								<!-- <th class="w-400">프로그램 설명</th> -->
								<th>프로그램 일정</th>
								<!-- <th style="width: 150px;">완료</th> -->
								<th>작성일자</th>
								<th style="width: 110px;">신청</th>
							</tr>
						</thead>
						<tbody>
							<!-- <tr>
									<td>Tiger Nixon</td>
									<td>System Architect</td>
									<td>Edinburgh</td>
									<td>61</td>
									<td>2011/04/25</td>
									<td>$320,800</td>
								</tr> -->
						</tbody>
					</table>
				</div>
			</div>
			<!--end:List Widget 3-->
		</div>
	</div>
	
	<script src="/assets/plugins/custom/datatables/datatables.bundle.js"></script>

	<script type="text/javascript" src="/javascripts/admin/program.js"></script>