<div class="gg_footer">
    <div class="gg_footerin">
        <ul class="gg_flist1">
            <li><a href="/center/introduce">센터소개</a></li>
            <!-- <li><a href="#">이용약관</a></li>
            <li><a href="#">저작권 관리</a></li>
            <li><a href="#">이용지침</a></li> -->
            <li><a href="/term">개인정보처리방침</a></li>
        </ul>

        <ul class="gg_flist2">
            <li>경기도 용인시 수지구 수지로 37, 나동(수지농협) 3층</li>
            <li>연락처 : 031-272-1122&nbsp;&nbsp;I&nbsp;&nbsp;FAX : 031-272-1123&nbsp;&nbsp;I&nbsp;&nbsp;<a
                    href="mailto:ggdpsy2021@gmail.com">ggdpsy2021@gmail.com</a></li>
            <!-- <li>업무시간 : 오전 9시 ~ 오후 6시</li> -->
            <li>Copyright 경기도심리지원센터 All Rights Reserved.</li>
        </ul>

    </div>
</div>