<div class="subleft tbcelltop">
    <% if(fpath == 'center') { %>
        <h2>센터소개</h2>
        <ul>
            <li><a href="/center/introduce" <% if(spath == 'introduce') { %> class="on" <% } %>>센터소개</a></li>
            <li><a href="/center/history" <% if(spath == 'history') { %> class="on" <% } %>>센터연혁</a></li>
            <li><a href="/center/about" <% if(spath == 'about') { %> class="on" <% } %>>인사말</a></li>
            <li><a href="/center/ochart" <% if(spath == 'ochart') { %> class="on" <% } %>>조직도</a></li>
            <li><a href="/center/center" <% if(spath == 'subCenter') { %> class="on" <% } %>>센터 둘러보기</a></li>
            <li><a href="/center/map" <% if(spath == 'map') { %> class="on" <% } %>>오시는 길</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'counsel') { %>
        <h2>심리·상담</h2>
        <ul>
            <li><a href="/counsel/introduce" <% if(spath == 'introduce') { %> class="on" <% } %>>소개</a></li>
            <li><a href="/counsel/guide" <% if(spath == 'guide') { %> class="on" <% } %>>이용 안내 및 절차</a></li>
            <li><a href="/counsel/mind" <% if(spath == 'mind') { %> class="on" <% } %>>내 마음 알기</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'education') { %>
        <h2>심리교육·문화</h2>
        <ul>
            <li><a href="/education/introduce" <% if(spath == 'introduce') { %> class="on" <% } %>>소개</a></li>
            <li><a href="/education/guide" <% if(spath == 'guide') { %> class="on" <% } %>>이용 안내 및 절차</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'support') { %>
        <h2>취약계층지원사업</h2>
        <ul>
            <li><a href="/support/introduce" <% if(spath == 'introduce') { %> class="on" <% } %>>소개</a></li>
            <li><a href="/support/guide" <% if(spath == 'guide') { %> class="on" <% } %>>이용 안내 및 절차</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'online') { %>
        <h2>온라인 신청</h2>
        <ul>
            <li><a href="/online/calendar" <% if(spath == 'calendar') { %> class="on" <% } %>>프로그램 일정표</a></li>
            <li><a href="/online/counsel" <% if(spath == 'counsel') { %> class="on" <% } %>>상담/검사 신청하기</a></li>
            <li><a href="/online/program" <% if(spath == 'program') { %> class="on" <% } %>>프로그램 신청하기</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'collabo') { %>
        <h2>연계협력</h2>
        <ul>
            <li><a href="/collabo/mou" <% if(spath == 'mou') { %> class="on" <% } %>>MOU 기관</a></li>
            <li><a href="/collabo/network" <% if(spath == 'network') { %> class="on" <% } %>>지역사회 네트워크</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'research') { %>
        <h2>연구보고</h2>
        <ul>
            <li><a href="/research" <% if(spath == 'research') { %> class="on" <% } %>>연구보고</a></li>
        </ul>
    <% } %>

    <% if(fpath == 'commu') { %>
        <h2>소통공간</h2>
        <ul>
            <li><a href="/commu/notice" <% if(spath == 'notice') { %> class="on" <% } %>>공지사항</a></li>
            <li><a href="/commu/news" <% if(spath == 'news') { %> class="on" <% } %>>센터소식</a></li>
            <li><a href="/commu/reference" <% if(spath == 'reference') { %> class="on" <% } %>>자료실</a></li>
            <li><a href="/commu/gallery" <% if(spath == 'gallery') { %> class="on" <% } %>>갤러리</a></li>
            <li><a href="/commu/advertGallery" <% if(spath == 'advertGallery') { %> class="on" <% } %>>홍보 갤러리</a></li>
            <li><a href="/commu/review" <% if(spath == 'review') { %> class="on" <% } %>>센터이용후기</a></li>
            <li><a href="/commu/faq" <% if(spath == 'faq') { %> class="on" <% } %>>FAQ</a></li>
        </ul>
    <% } %>
</div>