<div class="gg_in">

  <h1>
    <a href="/">
  <% if(typeof(main) !== 'undefined') { %>
    <img src="/images/logo_white.png" alt="경기도심리지원센터" />
  <% } else { %>
    <img src="/images/logo.png" alt="경기도심리지원센터" />
  <% } %>
    </a>
  </h1>

  <!--211231 공감연대 로고 추가-->
  <h2>
    <a target="_blank" href="http://empathyunion.com/">
    <% if(typeof(main) !== 'undefined') { %>
      <img src="/images/ggyd_logo_wh.png" alt="사단법인 공감연대" />
    <% } else { %>
      <img src="/images/ggyd_logo_bk.png" alt="사단법인 공감연대" />
    <% } %>
    </a>
  </div>
<!--gg_in여기까지-->

<!--sub top nav-->
<div class="gg_topnav">
  <ul>
    <li><a href="#">센터소개</a></li>
    <li><a href="#">심리·상담</a></li>
    <li><a href="#">심리교육·문화</a></li>
    <li><a href="#">취약계층지원사업</a></li>
    <li><a href="#">온라인신청</a></li>
    <li><a href="#">연계협력</a></li>
    <li><a href="#">연구보고</a></li>
    <li><a href="#">소통공간</a></li>
  </ul>
</div>
<!--sub sub nav-->
<div class="gg_snav">
  <div class="gg_gg_snav">
    <ul>
      <li>
        <ul>
          <li><a href="/center/introduce">센터소개</a></li>
          <li><a href="/center/history">센터연혁</a></li>
          <li><a href="/center/about">인사말</a></li>
          <li><a href="/center/ochart">조직도</a></li>
          <li><a href="/center/center">센터 둘러보기</a></li>
          <li><a href="/center/map">오시는 길</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/counsel/introduce">소개</a></li>
          <li><a href="/counsel/guide">이용 안내 및 절차</a></li>
          <li><a href="/counsel/mind">내 마음 알기</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/education/introduce">소개</a></li>
          <li><a href="/education/guide">이용 안내 및 절차</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/support/introduce">소개</a></li>
          <li><a href="/support/guide">이용 안내 및 절차</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/online/calendar">프로그램 일정표</a></li>
          <li><a href="/online/counsel">상담/검사 신청</a></li>
          <li><a href="/online/program">프로그램 신청</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/collabo/mou">MOU 기관</a></li>
          <li><a href="/collabo/network">지역사회 네트워크</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/research" class="dropbtn">연구보고</a></li>
        </ul>
      </li>
      <li>
        <ul>
          <li><a href="/commu/notice">공지사항</a></li>
          <li><a href="/commu/news">센터소식</a></li>
          <li><a href="/commu/reference">자료실</a></li>
          <li><a href="/commu/gallery">갤러리</a></li>
          <li><a href="/commu/advertGallery">홍보 갤러리</a></li>
          <li><a href="/commu/review">센터 이용후기</a></li>
          <li><a href="/commu/faq">FAQ</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!--gg_topnav여기까지-->

















<!-- <div class="gg_in">
    <h1><img src="https://via.placeholder.com/200x100" style="cursor: pointer;" onclick="location.href='/'" alt="임시//센터로고" /></h1>
</div>

<nav class="gg_topnav">
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">센터소개</a>
            <div class="dropdown-content">
                <a href="/center/introduce">센터소개</a>
                <a href="/center/history">센터연혁</a>
                <a href="/center/about">인사말</a>
                <a href="/center/ochart">조직도</a>
                <a href="/center/center">센터 둘러보기</a>
                <a href="/center/map">오시는 길</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">심리·상담</a>
            <div class="dropdown-content">
                <a href="/counsel/introduce">소개</a>
                <a href="/counsel/guide">이용 안내 및 절차</a>
                <a href="/counsel/mind">내 마음 알기</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">심리교육</a>
            <div class="dropdown-content">
                <a href="/education/introduce">소개</a>
                <a href="/education/guide">이용 안내 및 절차</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">지원사업</a>
            <div class="dropdown-content">
                <a href="/support/introduce">소개</a>
                <a href="/support/guide">이용 안내 및 절차</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">온라인신청</a>
            <div class="dropdown-content">
                <a href="/online/calendar">프로그램 일정표</a>
                <a href="/online/counsel">상담·검사·심리지원 신청</a>
                <a href="/online/program">프로그램 신청</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">연계협력</a>
            <div class="dropdown-content">
                <a href="/collabo/mou">MOU 기관</a>
                <a href="/collabo/network">지역사회 네트워크</a>
            </div>
        </li>
        <li class="dropdown"><a href="/research" class="dropbtn">연구보고</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">소통 공간</a>
            <div class="dropdown-content">
                <a href="/commu/notice">공지사항</a>
                <a href="/commu/news">센터소식</a>
                <a href="/commu/reference">자료실</a>
                <a href="/commu/gallery">갤러리</a>
                <a href="/commu/review">센터 이용후기</a>
                <a href="/commu/faq">FAQ</a>
            </div>
        </li>
    </ul>
</nav> -->
