<div class="ggquick">
    <ul>
        <li><a href="/counsel/mind"><img src="/images/qk01.png" alt="내 마음 알기" /><br>내 마음 알기</a></li>
        <li><a href="/online/calendar"><img src="/images/qk02.png" alt="온라인 신청" /><br>온라인 신청</a></li>
        <li><a href="/center/map"><img src="/images/qk03.png" alt="오시는 길" /><br>오시는 길</a></li>
        <li><a href="/commu/faq"><img src="/images/qk04.png" alt="FAQ" /><br>FAQ</a></li>
        <li><a target="_blank" href="https://www.instagram.com/ggdpsy2021/?hl=ko"><img src="/images/qk05.png" alt="인스타그램" /><br>인스타그램</a></li>
        <!-- <li><a href="#"><img src="/images/qk06.png" alt="전화번호" /><br>전화번호</a></li> -->
        <li><a href="#">▲TOP</a></li>
    </ul>
</div>