<!--
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<title>경기도심리지원센터</title>
</head>

<body> -->

<!--sub상단-->
<div class="gg_wrap">
    <!--gg_in여기까지-->

    <!--상단메뉴-->
    <%- include('partials/ggm_topnav.ejs') %>
        <!--gg_topnav여기까지-->

        <!--컨텐츠 시작-->
        <div class="ggcon">

          <!--중간 센터 이미지 -->
          <div class="gg_subtop">
              <img src="/images/gg_topimg_02.jpg" alt="" width="100%" />
          </div>

            <!--내용-->
            <div class="subcon tb">
                <!--좌측메뉴-->
                <%- include('partials/ggaside') %>

                    <!--우측메뉴-->
                    <div class="subright tbcelltop">
                        <!--서브타이틀-->
                        <div class="subtt">
                            <h2>내 마음 알기</h2>
                            <span>
                                <a href="/"><img src="/images/s_home.png" alt="home" /></a>
                                >
                                <a href="/counsel/introduce">심리·상담</a>
                                >
                                <a href="">내 마음 알기</a>
                            </span>
                        </div>

                        <!--서브컨텐츠-->
                        <div class="subconbox">
                            <!--SUB CONTENTS TAB-->
                            <div class="tabb">
                                <div class="stab active" onclick="tabbActive(this, 1);">
                                    <p>스트레스</p>
                                </div>
                                <div class="stab" onclick="tabbActive(this, 2);">
                                    <p>불안</p>
                                </div>
                                <div class="stab" onclick="tabbActive(this, 3);">
                                    <p>우울</p>
                                </div>
                                <div class="stab" onclick="tabbActive(this, 4);">
                                    <p>분노</p>
                                </div>
                            </div>
                            <div name="tab1" class="tab_content activetab">
                                <!--
                        <h2 style="text-align: center; margin:40px auto 30px; font-size:2.3rem">
                            <span style="border-bottom:2px solid #e0ebff">한국판 지각된 스트레스 척도</span><br>
                              <span style="font-weight:normal; font-size:1.7rem">(Perceived Stress Scale, PSS)</span>
                        </h2>

                        <h4 style="background:#fafafa; text-align: center; border-top: 1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; padding:20px 0; box-sizing: border-box; font-weight:normal">
                            이 척도는 일상생활에서 주관적으로 느끼는 스트레스의 정도를 평가하기 위한 척도입니다.
                            <br>
                            각 문항들을 잘 읽고 지난 1개월 동안 문항에 해당하는 내용을 얼마나 자주 느꼈는지 체크해 주십시오.
                        </h4>

                        <h3 style="text-align: center; margin:20px auto; font-size:17px; font-weight:normal">
                            자가 검진 결과 통계를 위해 인적사항을 입력받고 있습니다. 입력하신 인적사항과 결과 내용은 안전하게 관리합니다.
                        </h3>
                        <div class="gg_mind">
                            <form action="" name="ggmind" method="">
                                <div class="tb">
                                <div class="tbcellm mtt"><span>성별</span></div>
                                <div class="tbcellm">
                                    <label<label for="ggm">남
                                    <input type="radio" id="ggm" name="mrdo">
                                    <span class="checkmark"></span>
                                    </label>
                                    <label<label for="ggf">여
                                    <input type="radio" id="ggf" name="mrdo">
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="tbcellm mtt"><span>연령</span></div>
                                <div class="tbcellm">
                                    만stress<input type="number" id="ggage" class="ggage">stress세
                                </div>
                                <div class="tbcellm mtt"><span>거주지</span></div>
                                <div class="tbcellm">
                                    <label<label for="ggarea">경기
                                    <input type="radio" id="ggarea" name="marea" checked>
                                    <span class="checkmark"></span>
                                    </label>
                                    <select name="marea">
                                    <option>시 선택</option>
                                    <option>수원시</option>
                                    <option>성남시</option>
                                    <option>의정부시</option>
                                    <option>안양시</option>
                                    <option>부천시</option>
                                    <option>광명시</option>
                                    <option>평택시</option>
                                    <option>동두천시</option>
                                    <option>안산시</option>
                                    <option>고양시</option>
                                    <option>과천시</option>
                                    <option>구리시</option>
                                    <option>남양주시</option>
                                    <option>오산시</option>
                                    <option>시흥시</option>
                                    <option>군포시</option>
                                    <option>의왕시</option>
                                    <option>하남시</option>
                                    <option>용인시</option>
                                    <option>파주시</option>
                                    <option>이천시</option>
                                    <option>안성시</option>
                                    <option>김포시</option>
                                    <option>화성시</option>
                                    <option>광주시</option>
                                    <option>양주시</option>
                                    <option>포천시</option>
                                    <option>여주시</option>
                                    <option>연천군</option>
                                    <option>가평군</option>
                                    <option>양평군</option>
                                    </select>
                                    stressstress
                                    <label<label for="ggareath">경기 외
                                    <input type="radio" id="ggareath" name="marea">
                                    <span class="checkmark"></span>
                                    </label>
                                </div>
                                </div>
                            </form>
                        </div>-->

                                <table class="mind_table tab1" style="margin-top: 30px;">
                                    <tr>
                                        <td class="mtb_tt" colspan="2">지난 한달 동안 각 질문에 대해 얼마나 자주 그러했는지<br>가장 비슷하다고 생각되는
                                            것을 하나 골라 체크해 주십시오.</td>
                                        <td class="mtb_tt">전혀없음</td>
                                        <td class="mtb_tt">거의 없었음</td>
                                        <td class="mtb_tt">때때로 있었음</td>
                                        <td class="mtb_tt">자주 있었음</td>
                                        <td class="mtb_tt">아주 자주 있었음</td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">1</td>
                                        <td class="mtbleft">예상치 않게 생긴 일 때문에 속상한 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q1" value="0" id="sq1_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq1_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q1" value="1" id="sq1_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq1_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q1" value="2" id="sq1_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq1_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q1" value="3" id="sq1_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq1_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q1" value="4" id="sq1_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq1_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">2</td>
                                        <td class="mtbleft">중요한 일을 조절할 수 없다고 느낀 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q2" value="0" id="sq2_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq2_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q2" value="1" id="sq2_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq2_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q2" value="2" id="sq2_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq2_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q2" value="3" id="sq2_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq2_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q2" value="4" id="sq2_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq2_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">3</td>
                                        <td class="mtbleft">불안하고 스트레스 받았다고 느낀적이 얼마나 자주 있었습니까??</td>
                                        <td>
                                            <input type="radio" name="stress_q3" value="0" id="sq3_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq3_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q3" value="1" id="sq3_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq3_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q3" value="2" id="sq3_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq3_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q3" value="3" id="sq3_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq3_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q3" value="4" id="sq3_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq3_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">4</td>
                                        <td class="mtbleft">개인적인 문제를 잘 처리할 수 있다고 자신감을 가진 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q4" value="4" id="sq4_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq4_0"> 4점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q4" value="3" id="sq4_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq4_1"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q4" value="2" id="sq4_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq4_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q4" value="1" id="sq4_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq4_3"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q4" value="0" id="sq4_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq4_4"> 0점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">5</td>
                                        <td class="mtbleft">일이 내 뜻대로 진행되고 있다고 느낀 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q5" value="4" id="sq5_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq5_0"> 4점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q5" value="3" id="sq5_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq5_1"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q5" value="2" id="sq5_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq5_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q5" value="1" id="sq5_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq5_3"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q51" value="0" id="sq5_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq5_4"> 0점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">6</td>
                                        <td class="mtbleft">자신이 해야 할 모든 일에 잘 대처할 수 없었던 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q6" value="0" id="sq6_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq6_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q6" value="1" id="sq6_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq6_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q6" value="2" id="sq6_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq6_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q6" value="3" id="sq6_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq6_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q6" value="4" id="sq6_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq6_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">7</td>
                                        <td class="mtbleft">일상에서 짜증나는 것을 잘 조절할 수 있었던 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q7" value="4" id="sq7_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq7_0"> 4점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q7" value="3" id="sq7_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq7_1"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q7" value="2" id="sq7_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq7_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q7" value="1" id="sq7_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq7_3"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q7" value="0" id="sq7_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq7_4"> 0점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">8</td>
                                        <td class="mtbleft">자신이 일을 잘 해냈다고 느낀 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q8" value="4" id="sq8_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq8_0"> 4점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q8" value="3" id="sq8_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq8_1"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q8" value="2" id="sq8_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq8_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q8" value="1" id="sq8_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq8_3"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q8" value="0" id="sq8_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq8_4"> 0점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">9</td>
                                        <td class="mtbleft">자신의 능력으로는 어떻게 해 볼 수 없는 일 때문에 화가 난 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q9" value="0" id="sq9_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq9_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q9" value="1" id="sq9_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq9_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q9" value="2" id="sq9_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq9_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q9" value="3" id="sq9_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq9_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q9" value="4" id="sq9_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq9_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">10</td>
                                        <td class="mtbleft">어려운 일이 너무 많아져서 극복할 수 없다고 느낀 적이 얼마나 자주 있었습니까?</td>
                                        <td>
                                            <input type="radio" name="stress_q10" value="0" id="sq10_0"
                                                class="radio_input" title="neutral" />
                                            <label for="sq10_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q10" value="1" id="sq10_1"
                                                class="radio_input" title="neutral" />
                                            <label for="sq10_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q10" value="2" id="sq10_2"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="sq10_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q10" value="3" id="sq10_3"
                                                class="radio_input" title="disagree" />
                                            <label for="sq10_3"> 3점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="stress_q10" value="4" id="sq10_4"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="sq10_4"> 4점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num" colspan="2">체크문항 숫자의 총합</td>
                                        <td colspan="5" class="f_20"><span class="pink stress_score">합계점수</span>점</td>
                                    </tr>
                                </table>

                                <!--내 마음 알기// 스트레스 //  결과 -->
                                <div class="gg_mind_result tab2_result">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    본 자가 검사는 자신의 정신건강을 스스로 점검해보기 위해 제공된 것이며, 정신건강의학과 전문의의 진단을 대신할 수 없습니다.
                                    <table class="tab2rs">
                                        <tr>
                                            <td class="restt">총점</td>
                                            <td class="restt">스트레스 증상 정도</td>
                                        </tr>
                                        <tr>
                                            <td>0~13점</td>
                                            <td>정상</td>
                                        </tr>
                                        <tr>
                                            <td>14~16점</td>
                                            <td>경도 스트레스</td>
                                        </tr>
                                        <tr>
                                            <td>17~18점</td>
                                            <td>중증도 스트레스</td>
                                        </tr>
                                        <tr>
                                            <td>19점 이상</td>
                                            <td>심한 스트레스</td>
                                        </tr>
                                    </table>
                                    <div class="f_13 gray">
                                        출처 : 박준호, 서영석(2010). 대학생을 대상으로 한 한국판 지각된 스트레스 척도 타당화 연구. 한국심리학회지 일반, 29(3),
                                        611-629.
                                    </div>
                                </div>
                                <!--
                        <div>
                            <button type="button" class="appbtn">신청하기</button>
                        </div>
                      -->
                            </div>
                            <div name="tab2" class="tab_content">
                                <!--불안// 테스트-->
                                <table class="mind_table tab2" style="margin-top: 30px;">
                                    <tr>
                                        <td class="mtb_tt" colspan="2">지난 2주 동안 당신은 다음의 문제들로 인해서<br>얼마나 자주 방해를 받았습니까?
                                        </td>
                                        <td class="mtb_tt">전혀없음</td>
                                        <td class="mtb_tt">며칠동안</td>
                                        <td class="mtb_tt">2주 중<br>절반 이상</td>
                                        <td class="mtb_tt">거의 매일</td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">1</td>
                                        <td class="mtbleft">초조하거나 불안하거나 조마조마하게 느낀다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q1" value="0" id="aq1_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq1_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q1" value="1" id="aq1_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq1_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q1" value="2" id="aq1_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq1_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q1" value="3" id="aq1_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq1_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">2</td>
                                        <td class="mtbleft">걱정하는 것을 멈추거나 조절할 수가 없다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q2" value="0" id="aq2_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq2_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q2" value="1" id="aq2_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq2_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q2" value="2" id="aq2_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq2_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q2" value="3" id="aq2_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq2_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">3</td>
                                        <td class="mtbleft">여러 가지 것들에 대해 걱정을 너무 많이 한다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q3" value="0" id="aq3_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq3_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q3" value="1" id="aq3_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq3_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q3" value="2" id="aq3_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq3_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q3" value="3" id="aq3_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq3_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">4</td>
                                        <td class="mtbleft">편하게 있기가 어렵다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q4" value="0" id="aq4_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq4_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q4" value="1" id="aq4_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq4_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q4" value="2" id="aq4_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq4_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q4" value="3" id="aq4_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq4_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">5</td>
                                        <td class="mtbleft">너무 안절부절못해서 가만히 있기가 힘들다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q5" value="0" id="aq5_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq5_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q5" value="1" id="aq5_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq5_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q5" value="2" id="aq5_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq5_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q5" value="3" id="aq5_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq5_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">6</td>
                                        <td class="mtbleft">쉽게 짜증이 나거나 쉽게 성을 내게 된다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q6" value="0" id="aq6_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq6_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q6" value="1" id="aq6_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq6_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q6" value="2" id="aq6_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq6_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q6" value="3" id="aq6_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq6_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">7</td>
                                        <td class="mtbleft">마치 끔찍한 일이 생길 것처럼 두렵게 느껴진다.</td>
                                        <td>
                                            <input type="radio" name="anxiety_q7" value="0" id="aq7_0"
                                                class="radio_input" title="neutral" />
                                            <label for="aq7_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q7" value="1" id="aq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="aq7_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q7" value="2" id="aq7_2"
                                                class="radio_input" title="disagree" />
                                            <label for="aq7_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="anxiety_q7" value="3" id="aq7_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="aq7_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num" colspan="2">체크문항 숫자의 총합</td>
                                        <td colspan="4" class="f_20"><span class="pink anxiety_score">합계점수</span>점</td>
                                    </tr>
                                </table>
                                <!--내 마음 알기// 불안//  결과 -->
                                <div class="gg_mind_result tab2_result">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    본 자가 검사는 자신의 정신건강을 스스로 점검해보기 위해 제공된 것이며, 정신건강의학과 전문의의 진단을 대신할 수 없습니다.
                                    <table class="tab2rs">
                                        <tr>
                                            <td class="restt">총점</td>
                                            <td class="restt">불안 증상 정도</td>
                                        </tr>
                                        <tr>
                                            <td>0~4점</td>
                                            <td>정상</td>
                                        </tr>
                                        <tr>
                                            <td>5~9점</td>
                                            <td>가벼운 불안</td>
                                        </tr>
                                        <tr>
                                            <td>10~14점</td>
                                            <td>중간 정도 불안(전문가의 상담이 필요함)</td>
                                        </tr>
                                        <tr>
                                            <td>15~21점</td>
                                            <td>심한 불안(치료를 필요로 함)</td>
                                        </tr>
                                    </table>
                                    <div class="f_13 gray">
                                        출처 : Seo, J. G., & Park, S. P. (2015). Validation of the Generalized Anxiety
                                        Disorder-7 (GAD-7) and GAD-2 in patients with migraine. The journal of headache
                                        and pain, 16(1), 97.
                                    </div>
                                </div>
                                <!--
                          <div>
                              <button type="button" class="appbtn">신청하기</button>
                          </div>-->
                            </div>
                            <div name="tab3" class="tab_content">
                                <!--우울// 테스트-->
                                <table class="mind_table tab3" style="margin-top: 30px;">
                                    <tr>
                                        <td class="mtb_tt" colspan="2">지난 2주 동안 다음과 같은 문제를 얼마나 자주 겪었는지 해당되는 란을 골라 체크 해
                                            주십시오.</td>
                                        <td class="mtb_tt">전혀 없음</td>
                                        <td class="mtb_tt">며칠동안</td>
                                        <td class="mtb_tt">1주일 이상</td>
                                        <td class="mtb_tt">거의 매일</td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">1</td>
                                        <td class="mtbleft">매사에 흥미나 즐거움이 없다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q1" value="0" id="bq1_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq1_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q1" value="1" id="bq1_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq1_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q1" value="2" id="bq1_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq1_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q1" value="3" id="bq1_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq1_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">2</td>
                                        <td class="mtbleft">기분이 가라앉거나 우울하거나 희망이 없다고 느낀다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q2" value="0" id="bq2_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq2_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q2" value="1" id="bq2_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq2_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q2" value="2" id="bq2_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq2_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q2" value="3" id="bq2_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq2_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">3</td>
                                        <td class="mtbleft">잠들기 어렵거나 자주 깬다/혹은 잠을 너무 많이 잔다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q3" value="0" id="bq3_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq3_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q3" value="1" id="bq3_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq3_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q3" value="2" id="bq3_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq3_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q3" value="3" id="bq3_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq3_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">4</td>
                                        <td class="mtbleft">피곤하다고 느끼거나 기운이 거의 없다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q4" value="0" id="bq4_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq4_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q4" value="1" id="bq4_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq4_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q4" value="2" id="bq4_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq4_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q4" value="3" id="bq4_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq4_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">5</td>
                                        <td class="mtbleft">식욕이 줄었다/혹은 너무 많이 먹는다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q5" value="0" id="bq5_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq5_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q5" value="1" id="bq5_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq5_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q5" value="2" id="bq5_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq5_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q5" value="3" id="bq5_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq5_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">6</td>
                                        <td class="mtbleft">내 자신이 실패자로 여겨지거나 자신과 가족을 실망시켰다고 느낀다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q6" value="0" id="bq6_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq6_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q6" value="1" id="bq6_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq6_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q6" value="2" id="bq6_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq6_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q6" value="3" id="bq6_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq6_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">7</td>
                                        <td class="mtbleft">신문을 읽거나 TV를 보는 것과 같은 일상적인 일에 집중하기 어렵다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q7" value="0" id="bq7_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq7_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q7" value="1" id="bq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq7_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q7" value="2" id="bq7_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq7_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q7" value="3" id="bq7_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq7_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">8</td>
                                        <td class="mtbleft">다른 사람들이 눈치 챌 정도로 평소보다 말과 행동이 느리다/혹은 너무 안절부절못해서 가만히 앉아 있을 수
                                            없다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q8" value="0" id="bq8_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq8_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q8" value="1" id="bq8_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq8_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q8" value="2" id="bq8_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq8_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q8" value="3" id="bq8_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq8_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">9</td>
                                        <td class="mtbleft">차라리 죽는 것이 낫겠다고 생각하거나 어떻게든 자해를 하려고 생각한다.</td>
                                        <td>
                                            <input type="radio" name="blackbile_q9" value="0" id="bq9_0"
                                                class="radio_input" title="neutral" />
                                            <label for="bq9_0"> 0점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q9" value="1" id="bq9_1"
                                                class="radio_input" title="somewhat disagree" />
                                            <label for="bq9_1"> 1점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q9" value="2" id="bq9_2"
                                                class="radio_input" title="disagree" />
                                            <label for="bq9_2"> 2점</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="blackbile_q9" value="3" id="bq9_3"
                                                class="radio_input" title="strongly disagree" />
                                            <label for="bq9_3"> 3점</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num" colspan="2">체크문항 숫자의 총합</td>
                                        <td colspan="4" class="f_20"><span class="pink bb_score">합계점수</span>점</td>
                                    </tr>
                                </table>

                                <!--내 마음 알기// 우울//  결과 -->
                                <div class="gg_mind_result tab2_result">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    본 자가 검사는 자신의 정신건강을 스스로 점검해보기 위해 제공된 것이며, 정신건강의학과 전문의의 진단을 대신할 수 없습니다.
                                    <table class="tab2rs">
                                        <tr>
                                            <td class="restt">총점</td>
                                            <td class="restt">우울 증상 정도</td>
                                        </tr>
                                        <tr>
                                            <td>0~4점</td>
                                            <td>정상</td>
                                        </tr>
                                        <tr>
                                            <td>5~9점</td>
                                            <td>가벼운 우울</td>
                                        </tr>
                                        <tr>
                                            <td>10~19점</td>
                                            <td>중간 정도 우울(전문가의 상담이 필요함)</td>
                                        </tr>
                                        <tr>
                                            <td>20~27점</td>
                                            <td>심한 우울(치료를 필요로 함)</td>
                                        </tr>
                                    </table>
                                    <div class="f_13 gray">
                                        출처 : 안제용, 서은란, 임경희, 신재현, & 김정범. (2013). 한국어판 우울증 선별도구(Patient Health
                                        Questionnaire-9, PHQ-9)의 표준화 연구. 생물치료정신의학, 19(1), 47-56.
                                    </div>
                                </div>
                                <!--
                          <div>
                              <button type="button" class="appbtn">신청하기</button>
                          </div>-->
                            </div>

                            <div name="tab4" class="tab_content">
                                <!--분노 // 테스트-->
                                <table class="mind_table tab4" style="margin-top: 30px;">
                                    <tr>
                                        <td class="mtb_tt" colspan="2" style="height:50px">다음을 읽고 나에게 해당이 되면 체크해주시기
                                            바랍니다.</td>
                                        <td class="mtb_tt">예</td>
                                        <td class="mtb_tt">아니오</td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">1</td>
                                        <td class="mtbleft">하는 일이 잘 풀리지 않으면 쉽게 포기하고 좌절감을 느낀다.</td>
                                        <td>
                                            <input type="radio" name="anger_q1" value="0" id="anq1_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q1" value="1" id="anq1_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">2</td>
                                        <td class="mtbleft">성격이 급하며 금방 흥분하는 편이다.</td>
                                        <td>
                                            <input type="radio" name="anger_q2" value="0" id="anq2_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q2" value="1" id="anq2_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">3</td>
                                        <td class="mtbleft">타인의 잘못을 그냥 넘기지 못하고 문제를 일으킨다.</td>
                                        <td>
                                            <input type="radio" name="anger_q3" value="0" id="anq3_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q3" value="1" id="anq3_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">4</td>
                                        <td class="mtbleft">내가 한 일이 잘한 일이라면 반드시 인정을 받아야 하고, 인정받지 못하면 화가 난다.</td>
                                        <td>
                                            <input type="radio" name="anger_q4" value="0" id="anq4_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q4" value="1" id="anq4_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">5</td>
                                        <td class="mtbleft">다른 사람들이 나를 무시하는 것 같고 억울하다는 생각을 자주 한다.</td>
                                        <td>
                                            <input type="radio" name="anger_q5" value="0" id="anq5_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q5" value="1" id="anq5_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">6</td>
                                        <td class="mtbleft">화가 나면 주변의 물건을 집어던진다.</td>
                                        <td>
                                            <input type="radio" name="anger_q6" value="0" id="anq6_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q6" value="1" id="anq6_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">7</td>
                                        <td class="mtbleft">중요한 일을 앞두고 화가나 그 일을 망친 경험이 있다.</td>
                                        <td>
                                            <input type="radio" name="anger_q7" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q7" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">8</td>
                                        <td class="mtbleft">내 잘못을 다른 사람의 탓으로 돌리며 화를 낸다.</td>
                                        <td>
                                            <input type="radio" name="anger_q8" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q8" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">9</td>
                                        <td class="mtbleft">화가 나면 쉽게 풀리지 않아 우는 경우가 종종 있다.</td>
                                        <td>
                                            <input type="radio" name="anger_q9" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q9" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">10</td>
                                        <td class="mtbleft">게임을 할 때, 의도대로 되지 않으면 화가 쉽게 난다.</td>
                                        <td>
                                            <input type="radio" name="anger_q10" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q10" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">11</td>
                                        <td class="mtbleft">화가 나면 상대방에게 거친 말과 함께 폭력을 행사하기도 한다.</td>
                                        <td>
                                            <input type="radio" name="anger_q11" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q11" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num">12</td>
                                        <td class="mtbleft">분노의 감정을 어찌할지 몰라 당황한 적이 있다.</td>
                                        <td>
                                            <input type="radio" name="anger_q12" value="0" id="anq7_0"
                                                class="radio_input" title="neutral" />
                                        </td>
                                        <td>
                                            <input type="radio" name="anger_q12" value="1" id="anq7_1"
                                                class="radio_input" title="somewhat disagree" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="mtb_num" colspan="2">체크문항 총합</td>
                                        <td colspan="4" class="f_20"><span class="pink anger_score">'예' 개수</span></td>
                                    </tr>
                                </table>
                                <!--내 마음 알기// 분노//  결과 -->
                                <div class="gg_mind_result tab2_result">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    본 자가 검사는 자신의 정신건강을 스스로 점검해보기 위해 제공된 것이며, 정신건강의학과 전문의의 진단을 대신할 수 없습니다.
                                    <table class="tab2rs">
                                        <tr>
                                            <td class="restt">총점</td>
                                            <td class="restt">분노 증상 정도</td>
                                        </tr>
                                        <tr>
                                            <td>1~3개</td>
                                            <td>감정 조절이 가능한 단계</td>
                                        </tr>
                                        <tr>
                                            <td>4~8개</td>
                                            <td>감정조절 능력이 약간 부족한 단계</td>
                                        </tr>
                                        <tr>
                                            <td>9개 이상</td>
                                            <td>분노조절이 힘들고 공격성이 강한 단계</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" class="pink">9개 이상에 해당할 경우 전문적인 상담을 통한 약물치료, 인지행동치료 등이 필요할 수
                                                있습니다.</td>
                                        </tr>
                                    </table>
                                    <!--
                          <div class="f_13 gray">
                            출처 : Seo, J. G., & Park, S. P. (2015). Validation of the Generalized Anxiety Disorder-7 (GAD-7) and GAD-2 in patients with migraine. The journal of headache and pain, 16(1), 97.
                          </div>
                          -->
                                </div>
                                <!--
                          <div>
                              <button type="button" class="appbtn">신청하기</button>
                          </div>-->
                            </div>
                        </div>
                        <!--SUB CONTENTS TAB 여기까지-->
                    </div>
            </div>
            <!--subright여기까지-->
        </div>
        <!--subcon tb 여기까지-->

        <!--QUICK-->
        <%- include('partials/ggquick') %>

</div>
<!--컨텐츠 여기까지-->


<!--FOOTER-->
<%- include('partials/gg_footer') %>


    </div>
    <!--gg_wrap 여기까지-->

    <!--
  </body>
  </html> -->
    <script type="text/javascript" src="/javascripts/mind.js"></script>
