<!--
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<title>경기도심리지원센터</title>
</head>

<body> -->

<!--sub상단-->
<div class="gg_wrap">
    <!--gg_in여기까지-->

    <!--상단메뉴-->
    <%- include('partials/ggm_topnav.ejs') %>
        <!--gg_topnav여기까지-->

        <!--컨텐츠 시작-->
        <div class="ggcon">

          <!--중간 센터 이미지 -->
          <div class="gg_subtop">
              <img src="/images/gg_topimg_03.jpg" alt="" width="100%" />
          </div>

            <!--내용-->
            <div class="subcon tb">
                <!--좌측메뉴-->
                <%- include('partials/ggaside') %>

                <!--우측메뉴-->
                <div class="subright tbcelltop">
                    <!--서브타이틀-->
                    <div class="subtt">
                        <h2>소개</h2>
                        <span>
                            <a href="/"><img src="/images/s_home.png" alt="home" /></a>
                            &nbsp;>&nbsp;
                            <a href="/education/introduce">심리교육</a>
                            &nbsp;>&nbsp;
                            <a href="">소개</a>
                        </span>
                    </div>

                    <!--서브컨텐츠-->
                    <div class="subconbox">

                        <img src="/images/gg_3_1.jpg" alt="심리교육 소개" width="100%" />

                    </div>

                </div>
                <!--subright여기까지-->
            </div>
            <!--subcon tb 여기까지-->

            <!--QUICK-->
            <%- include('partials/ggquick') %>

        </div>
        <!--컨텐츠 여기까지-->







        <!--FOOTER-->
        <%- include('partials/gg_footer') %>


</div>
<!--gg_wrap 여기까지-->

<!--
</body>
</html> -->
