<!--
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="imagetoolbar" content="no">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<title>경기도심리지원센터</title>
</head>

<body> -->

<!--sub상단-->
<div class="gg_wrap">
    <!--gg_in여기까지-->
    <!--상단메뉴-->
    <%- include('partials/ggm_topnav') %>
        <!--gg_topnav여기까지-->

        <!--컨텐츠 시작-->
        <div class="ggcon">

          <!--중간 센터 이미지 -->
          <div class="gg_subtop">
              <img src="/images/gg_topimg_01.jpg" alt="" width="100%" />
          </div>

            <!--내용-->
            <div class="subcon tb">
                <!--좌측메뉴-->
                <%- include('partials/ggaside') %>

                <!--우측메뉴-->
                <div class="subright tbcelltop">
                    <!--서브타이틀-->
                    <div class="subtt">
                        <h2>센터소개</h2>
                        <span>
                            <a href="/"><img src="/images/s_home.png" alt="home" /></a>
                            &nbsp;>&nbsp;
                            <a href="/center/introduce">센터소개</a>
                            &nbsp;>&nbsp;
                            <a href="">센터소개</a>
                        </span>
                    </div>

                    <!--서브컨텐츠-->
                    <div class="subconbox">

                      <div class="ggintroduce">
                          <h2><img src="/images/ggint.png" alt="경기도 심리지원센터" /></h2>
                          <span>
                            코로나19 장기화로 인한<br>
                            도민의 심리적·경제적 불안으로 인한 우울과 스트레스 증가 등의<br>
                            심리적 어려움을 조기에 발견하고 심리적 문제에 적극적으로 지원하며 나아가<br>
                            공공심리지원 서비스 체계를 구축함으로써 경기도민의 심리적 안녕감 증진과<br>
                            일상성을 회복하고 경기도민의 삶의 질 향상을 위하여 설립되었습니다.
                          </span>

                          <span class="tright w100">
                            심리검사 및 상담, 집단상담 및 지지집단 프로그램, 심리멘토활동가 양성, 심리특강 등<br>
                            다양한 프로그램과 찾아가는 상담서비스의 일환으로 돌봄 및 감정노동 종사자의<br>
                            감정해소를 위한 지원서비스, 65세 이상 노인의 심리·사회적 통합을 위한<br>
                            적응지원서비스도 제공하고 있습니다.
                          </span>
                          <span class="w100">
                            이 외 센터내 명상실, 속마음의 숲과 같은 치유의 공간을 제공하고 있습니다.<br>
                            앞으로도 경기도만의 특성 있는 힐링심리문화복합공간으로써의 기틀을 마련하겠습니다.
                          </span>

                      </div>

                    </div>

                </div>
                <!--subright여기까지-->
            </div>
            <!--subcon tb 여기까지-->

            <!--QUICK-->
            <%- include('partials/ggquick') %>

        </div>
        <!--컨텐츠 여기까지-->







        <!--FOOTER-->
        <%- include('partials/gg_footer') %>


</div>
<!--gg_wrap 여기까지-->

<!--
</body>
</html> -->
