<style>
    .term-box {
        width: 100%;
        height: fit-content;
        background-color: #f4f4f4;
    }
    .tnav {
        height: 71px;
        background-color: #93a9d1;
    }

    .tnavin {
        width: 850px;
        margin: auto;
    }

    .tnavin a {
        width: 100px !important;
    }

    .tnavin span {
        width: 100px;
        margin: 0px !important;
        padding-left: 3px;
        line-height: 71px;
        font-size: 2rem;
        font-weight: 600;
        color: white;
    }

    .tcon {
        width: 850px;
        height: fit-content;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 30px;
        padding: 40px 38px 60px;
        border: 1px solid rgb(228, 228, 228);
        border-radius: 8px;
        background-color: #fff;
        box-sizing: border-box;
    }

    .tcon span {
        font-size: 1.2rem;
        white-space: pre-wrap;
    }

    .bold {
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: 600;
    }
</style>
<div class="term-box">
    <div class="tnav">
        <div class="tnavin">
            <a href="/"><span>심리</span></a>
        </div>
    </div>
    <div class="tcon">
        <span>
<h1>개인정보 수집 및 이용 처리지침</h1>

<span class="bold">제1조 개인정보의 수집·이용목적</span>
경기도 심리지원센터는 다음의 목적을 위하여 개인정보를 수집 및 처리합니다. 수집된 개인정보는 목적이외의 용도로는 이용되지 않으며, 이용목적이 변경되는 경우에는 개인정보보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행하겠습니다.

1. 효과적인 심리지원서비스 제공 및 위기상황 개입 등
2. 상담실적, 이용자현황 등 통계산출
3. 콘텐츠 제공 등 서비스 제공에 관한 계약의 이행 관련
4. 서비스 제공을 위한 프로그램 홍보 및 안내
5. 서비스이용에 따른 본인식별, 통합인증서비스 제공

<span class="bold">제2조 수집하는 개인정보 항목</span>
경기도 심리지원센터에서 각종 서비스 제공을 위해 수집하는 개인정보의 항목은 다음과 같습니다.

1. 이름, 성별, 생년월일(나이), 주소, 전화번호, 상담신청사유 등 신청서(전화신청시 포함) 및 접수면접지 기재사항
2. 상담내용의 기록 및 녹취자료
3. 병력정보, 치료정보, 임상정보 등의 민감정보
4. 홈페이지 신청 시 개인정보파일명 및 사회관계망서비스(SNS) 인증을 이용한 정보

<span class="bold">제3조 개인정보의 보유 및 이용기간</span>
경기도 심리지원센터의 개인정보 보유는 효과적인 심리지원서비스의 제공 및 타 기관 연계, 기타 이용자의 편의제공을 목적으로 관련법령에 따른 개인정보 보유·이용기간과 「개인정보보호법」 제15조 제1항에 의거한 정보주체의 동의를 통한 개인정보 수집 및 이용에 근거하고 있으며, 원칙적으로 이용자의 개인정보 처리목적이 달성되면 보유하고 있는 정보를 지체없이 파기합니다.

1. 심리지원서비스(상담·심리검사 등)와 관련된 기록: 5년
2. 이용자의 불만 및 분쟁처리에 관한 기록: 3년

<span class="bold">제4조 개인정보의 제3자 제공</span>
경기도 심리지원센터는 원칙적으로 이용자의 개인정보를 위에서 명시한 범위 내에서 처리하며, 개인정보제공자의 사전동의없이는 본래의 범위를 초과하여 처리하거나 제3자에게 제공하지 않습니다. 단, 다음에 명시된 경우 개인정보제공자의 이익을 부당하게 침해할 우려가 있을 때를 제외하고 개인정보를 목적 외 용도로 이용하거나 제3자에게 제공할 수 있습니다.

1. 사전에 제3자 제공 및 공개에 동의한 경우
2. 다른 법률에 특별한 규정이 있는 경우
3. 통계작성 및 학술연구, 보고서 등의 목적을 위하여 필요한 경우로서, 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우

<span class="bold">제5조 이용자의 권리와 의무</span>
이용자는 개인정보 수집 및 이용에 대하여 거부하실 권리가 있으며, 동의하지 않는 경우 서비스 제공이 제한될 수 있습니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인의 정보를 도용하는 등 허위정보를 입력할 경우 「공공기관의개인정보보호에관한법률」 제23조의 규정에 의하여 처벌을 받을 수 있습니다. 이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 만약 이같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 시에는 「정보통신망이용촉진및정보보호등에관한법률」등에 의해 처벌받을 수 있습니다.</span>
    </div>
</div>